form {
  display: flex;
  flex-direction: column; 
  align-items: center;

  input {
    margin: 1rem;
  }

  button {
    width: 5rem;
    margin-bottom: 1rem;
  }

  &.error {
    border: 1px solid red;
  }
}